

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 20px;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
  font-size: 24px;
}

li a:hover {
  background-color: #111;
}

head{
    padding: 10px;
}

body{
    background-color: #0033a0;
}

h1 {
    font-size: 100px;
    text-align: left;
    position: relative;
    bottom: 100px;
    color: #ffffff;
    margin-left: 200px;
    
}

p {
    color: #c8c8c7;
    text-align: left;
    position: relative;
    bottom: 50px;
    font-size: 22px;
    margin-left: 200px;
    border-style: hidden;
    border: 1px;
    word-wrap: normal;
}

div {
    color: #c8c8c7;
    text-align: left;
    position: relative;
    bottom: 150px;
    font-size: 22px;
    margin-left: 200px;
    border-style: hidden;
    border: 1px;
    word-wrap: normal;
    padding: 3px;
}

div2 {
    color: #c8c8c7;
    text-align: left;
    position: relative;
    bottom: 120px;
    font-size: 22px;
    margin-left: 200px;
    border-style: hidden;
    border: 1px;
    word-wrap: normal;
    padding: 3px;
}

.image1 {
    width: 98.25px;
    height:84px;
    position: relative;
    top: -310px;
}

.image2 {
     width: 350px;
     height:350px;
     border-radius: 50%;
     position: relative;
     margin-left: 1100px;
     bottom: -325px;
     border:7px solid black;
}
